*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body{
    text-align: center;
    background-color: #ef476f;
}

.game_container{
    height: 90vh;
    margin-top: 1vmin;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 2vmin;
    /* background-color: aliceblue; */
}

#heading{
    font-size: 10vmin;
    color: #052631;
    /* background-color: aqua; */
}

.game{
    height: 60vmin;
    width: 60vmin;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    column-gap: 2.5vmin;
    /* background-color: bisque; */
}

.box{
    height: 17vmin;
    width: 17vmin;
    border: none;
    border-radius: 1rem;
    box-shadow: 0 0 1rem rgba(0,0,0,0.3);
    background-color: #ffd166;
    color: black;
    font-size: 10vmin;
}

#reset_button{
    height: 6.5vmin;
    width: 17vmin;
    margin-top: 1vmin;
    font-size: 3vmin;
    font-weight: 600;
    border: none;
    border-radius: 1rem;
    box-shadow: 0 0 1rem rgba(0,0,0,0.3);
    background-color: #06d6a0;
}

.winner_message{
    margin-top: 3.5vmin;
}

#msg{
    font-size: 10vmin;
    color: #052631;
}

.hide{
    display: none;
}